@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif !important;
    overflow-x: auto;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box !important;
}

.dropdown:hover>.dropdown-menu {
    display: block;
    margin-top: 0;
}

div.navbar-collapse>* {
    margin-left: 2rem;
}

@media screen and (max-width: 530px) {
    .search-box {
        background-color: rgb(196, 204, 196) !important;
        max-width: 200px !important;
        border-radius: 6px;
        margin: auto;
    }

    .right-elements {
        margin: 0;
        padding: 0;
    }
}

/* Profile User Page */
.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.avatar img {
    cursor: pointer;
}

.bio {
    display: flex;
    flex-direction: column;
}

.nav-link.active {
    background-color: rgba(230, 221, 221, 0.55) !important;
}

.card-box {
    padding: 20px;
    border-radius: 3px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.social-links li a {
    border-radius: 50%;
    color: rgba(121, 121, 121, .8);
    display: inline-block;
    height: 30px;
    line-height: 27px;
    border: 2px solid rgba(121, 121, 121, .5);
    text-align: center;
    width: 30px
}

.social-links li a:hover {
    color: #797979;
    border: 2px solid #797979
}

.thumb-lg {
    height: 88px;
    width: 88px;
}

.img-thumbnail {
    background-color: #fff;
    max-width: 100%;
    box-shadow: 0 0 50px #ccc;
}

.text-pink {
    color: #ff679b !important;
}

.btn-rounded {
    border-radius: 2em;
}

.text-muted {
    color: #98a6ad !important;
}

h4 {
    line-height: 22px;
    font-size: 18px;
}

.multiple-border {
    margin: 2rem 0;
    display: inline-block;
    border: 1px solid;
    padding: 10px;
    box-shadow: 4px 4px #00A4BD, 8px 8px #FF7A59, 12px 12px #334758;
}

.card-header.align-items-center::after {
    content: none;
}

.search-input {
    padding-right: 1rem !important;
}

table tbody tr {
    cursor: grab;
}

.bookmark,
.bookmark.dark {
    --background-default: #FFD700;
    --background-hover: #404660;
    --text-color: #FAFBFF;
    --icon-color-default: #FAFBFF;
    --icon-color-active: #F04949;
    --shadow: rgba(0, 19, 132, 0.08);
}

.bookmark.dark {
    --background-default: #1E2235;
    --background-hover: #171827;
    --text-color: #F9FAFF;
    --shadow: rgba(0, 19, 132, 0.16);
}

.bookmark {
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    outline: none;
    background: none;
    border: none;
    padding: 2px 18px 2px 5px;
    margin: 0;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    color: var(--text-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.bookmark:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 6px;
    backface-visibility: hidden;
    box-shadow: 0 var(--shadow-y, 2px) var(--shadow-blur, 3px) var(--shadow);
    background: var(--background, var(--background-default));
    transform: scale(var(--scale-x, 1), var(--scale-y, 1)) translateZ(0);
    transition: box-shadow 0.2s, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), background 0.2s;
}

.bookmark:active {
    --shadow-y: 1px;
    --shadow-blur: 2px;
    --scale-x: 0.975;
    --scale-y: 0.94;
}

.bookmark:hover {
    --background: var(--background-hover);
}

.bookmark.marked {
    --icon-color: var(--icon-color-active);
}

.bookmark .icon {
    position: relative;
    z-index: 1;
    transform: scale(0.62);
}

.bookmark .icon:before {
    content: '';
    position: absolute;
    top: 5px;
    left: 9px;
    width: 18px;
    height: 19px;
    border-radius: 1px;
    clip-path: inset(0 -1px var(--icon-background-height) -1px round 1px);
    background: var(--icon-color, var(--icon-color-default));
    transition: background var(--duration, 0.5s) ease 0.01s;
}

.bookmark .icon svg {
    display: block;
    width: 36px;
    height: 36px;
    stroke: var(--icon-color, var(--icon-color-default));
    stroke-width: 2px;
    stroke-linejoin: round;
    stroke-linecap: round;
    position: relative;
    z-index: 1;
    transform: translateZ(0);
    clip-path: inset(5px 0 0 0);
}

.bookmark .icon svg path {
    fill: var(--fill, var(--background, var(--background-default)));
    transition: fill var(--duration, 0.5s) ease 0.01s, stroke var(--duration, 0.5s) ease 0.01s;
}

.bookmark .icon svg path.default {
    --fill: var(--default-fill, var(--background, var(--background-default)));
    clip-path: circle(var(--default-position) at 50% 100%);
}

.bookmark .icon svg path.filled {
    --fill: var(--icon-color, var(--icon-color-default));
}

.bookmark .icon svg path.default,
.bookmark .icon svg path.filled {
    transform: translateY(var(--default-y));
}

.bookmark span {
    position: relative;
    z-index: 1;
    display: block;
    margin-left: -2px;
}

.bookmark {
    margin: 0 16px;
}

.dribbble {
    position: fixed;
    display: block;
    right: 20px;
    bottom: 20px;
}

.dribbble img {
    display: block;
    height: 28px;
}