@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif !important;
    overflow-x: auto;
}

.dropdown:hover > .dropdown-menu {
    display: block;
    margin-top: 0;
}

div.navbar-collapse > * {
    margin-left: 2rem;
}

@media screen and (max-width: 530px) {
    .search-box {
      background-color: rgb(196, 204, 196) !important; 
      max-width: 200px !important;
      border-radius: 6px;
      margin: auto;
    }
    .right-elements {
        margin: 0;
        padding: 0;
    }
}

/* Profile User Page */
.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}

.avatar img {
    cursor: pointer;
}

.bio {
    display: flex;
    flex-direction: column;
}

.nav-link.active {
    background-color: rgba(230, 221, 221, 0.55) !important;
}